body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b8b6b6;
  font-family: Arial, sans-serif;
}

  
button{
    width : 65px;
    height: 50px;
    border-radius:8px;
    font-size:16px;
    background-color :grey;
    text-decoration: solid;
    display:inline-block;
    color:rgb(249, 243, 243);
    text-align: center;
    justify-content: center;
}

button:hover{
    color:black;
    background-color:grey;
}

.calculator {
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
.clear-btn {
  background-color: #3b3a3a;
  color: white;
}

.clear-btn:hover {
  background-color: #3b3a3a; 
  color: rgb(198, 194, 194); 
}


.del-btn {
  background-color: #3b3a3a;
  color: white;
}

.del-btn:hover {
  background-color: #3b3a3a;
  color: rgb(198, 194, 194); 
}

#display {
  width: 275px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.title {
  text-align: center;
  font-family: garamond;
  font-size: 24px;
  margin-bottom: 20px; 
  position: relative;
  top: -345px;
  left: 340px;
}

.outerbox {
  padding: 23px;
  background-color: #100606;
  border: 3px solid #0e0505;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}